<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Species Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

  </head>
      <body>
        <main>
          <div>
            <h1>Plant Species Predictor</h1>
            <br>
              <form action="/result"method="post">
                <input type="text" name="SepalLength" placeholder="SepalLength" required="required" />
                <input type="text" name="SepalWidth" placeholder="SepalWidth" required="required" />
                <input type="text" name="PetalLength" placeholder="PetalLength" required="required" />
                <input type="text" name="PetalWidth" placeholder="PetalWidth" required="required" />
          
                <button type="submit">Predict</button>
              </form>
          
             <br>
             <h2>{{ name }}</h2>
           </div>
        </main>
      
      </body>
</html>
